@import "./reset";
@import "font-awesome";

.notification{
  position:fixed;
  top:0;
  left:0;
  background-color:#38AEF0;
  height: 20px;
  width: 100%;
  .announce{
    text-align:center;
    color:white;
  }
}

.wrapper{
  position: relative;
  top:20px;
  left:0;

.side-bar{
  .header{
    z-index:1;
    display: block;
    position: fixed;
    top:20px;
    left:0;
    background-color:#253141;
    width:260px;
    height:100px;
    padding-right: 20px;
    padding-left: 20px;
    .header__name{
      padding-top:42px;
      padding-right:180px;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      color:white;
     }
     i{
        z-index:2;
        color:white;
     }
  }

  .groups{
    position: fixed;
    top:120px;
    left:0;
    background-color:#2f3e51;
    width:260px;
    max-height: auto;
    min-height: 100vh;
    overflow:scroll;
    padding-right: 20px;
    padding-left: 20px;
    .group{
      margin-top:20px;
      margin-bottom: 40px;
      text-decoration:none;
      color:#FFFFFF;
      .group__name{
        font-size:15px;
      }
      .group__message{
        margin-top:5px;
        font-size:11px;
        font-weight: bold;
      }
    }
  }

}

.chat{
  position: absolute;
  top:0;
  left:300px;
  background-color:#FAFAFA;
  height: calc(100vh - 130px);
  width: calc(100% - 300px);

  .header{
    border-bottom: thin solid #eeeeee;
    height:100px;
    width: 100%;
    background-color:white;
    .left-header{
      float:left;
      margin-left:40px;
      .left-header__title{
        padding-top: 35px;
        padding-bottom: 15px;
        font-size:20px;
        color:#333333;
      }
      .left-header__members{
        float:left;
        font-size:12px;
        color:#999999;
      }
      .member{
        float:left;
        list-style: none;
        font-size:12px;
        color:#999999;
      }
    }
    .right-header{
      float:right;
      position: relative;
      right:40px;
      margin-top: 30px;
      height:40px;
      border: thin solid #38AEF0;
      .right-header__button{
        height: 40px;
        line-height: 40px;
        padding-left:20px;
        padding-right:20px;
        padding-top: 10px;
        padding-bottom:10px;
        text-align: center;
        vertical-align: middle;
        color:#38AEF0;
        text-decoration: none;
      }
    }
  }
  .messages{
    position: fixed;
    left:300px;
    background-color:#FAFAFA;
    padding-top:6px;
    padding-left:40px;
    width: 100%;
    max-height: auto;
    min-height: 100%;
    .message{
      .upper-message{
          margin-top:40px;
        .upper-message__name{
          display: inline-block;
          margin-right:10px;
          font-size:16px;
          color:#434A54;
          font-weight:bold;
        }
        .upper-message__date{
          display: inline-block;
          font-size:12px;
          color:#999999;
        }
      }
      .lower-message{
        margin-top:10px;
        font-size:14px;
        color:#434A54;
      }
    }
  }

  .bottom__bar{
    position: fixed;
    background-color:#DDDDDD;
    left: 300px;
    bottom: 0;
    width: calc(100% - 300px);
    height:90px;
      .form{
        .form__message{
          display:inline-block;
          margin:20px 0 20px 40px;
          padding:0 10px;
          height:50px;
          width:calc(100% - 255px);
          border:none;
        }
        .form__mask{
          z-index:1;
          position: absolute;
          bottom:20px;
          display:inline-block;
          // margin-top: 20px;
          // margin-left:10px;
          margin-left:-5px;
          padding-right:10px;
          background-color: white;
          height:50px;
          width:20px;
          border:none;;
          i{
            z-index:2;
            padding-top:15px;
            padding-bottom:15px;
            color:black;
            height:50px;
            width:20px;
            font-size:20px;
          }
        }
        .button__send{
          display: inline-block;
          background-color: #38aef0;
          color: white;
          margin: 20px 0px 20px 45px;
          padding-right:30px;
          padding-left: 30px;
          height:50px;
          font-size: 16px;
          border:none;
         }
      }
    }
  }
}

